[Desktop Entry]
Name=IBus Buffalo Setup
Comment=Setup tool for IBus Buffalo Vietnamese input method
Exec=/usr/lib/ibus-buffalo/buffalo-ui
Icon=/usr/share/ibus-buffalo/icons/vi.svg
Terminal=false
Type=Application
Categories=Settings;IBus;
